@media screen and (max-width: 1280px) {
  .prgStatus {
    margin-top: 85px;}
}

@media screen and (max-width: 1024px) {
  .prgStatus {
    margin-top: 55px;
}
.prjtname p {
  white-space: nowrap;
  overflow-x: auto;}
  .projectTable tr td { white-space: nowrap;
    overflow-x: auto; width: 100%;}
  .tabText {
    font-size: 10px;
  }
}
.slideContain {
  margin: 0 5px;
}

@media screen and (max-width: 991px) {
  .projectDetails {
    align-items: self-start;
}
.prjtImg {
  display: none;
}
.prgStatus {
  margin-top: 45px;
}
.prjtname p {
  line-height: 10px;}
  .projectTable tr td {
    font-size: 12px;}
  .mainBodyy {
    margin-top: 20px;
}
  .resImgBtn {
    padding: 2px 10px;
    font-size: 9px;
  }
  .filesParent {
    padding: 10px;
    max-width: 100%;
}
  .tabText {
    text-align: center;
    line-height: 15px;
  }
  .mobile {
    display: block;
  }
  .logo{
    display: none;
  }
  .mLogo{
    display: block;
  }
  .mobileHeadr{
    display: flex;
    justify-content: space-between;
  }
  header.headerMain.fixed-top {
    flex-direction: column;
  }
  .leftHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
  }
  .headerMenus {
    display: flex;
    margin: 10px;
  }
  .menuParent {
    margin-right: 0;
  }
  .tabsParent {
    display: flex;
    margin-top: 100px;
  }
  .nav {
    position: absolute;
    top: 112px;
    bottom: 0;
    padding: 1em 0;
    box-shadow: 4px -4px 12px rgba(0, 0, 0, 0.25),
      -8px 8px 12px rgba(0, 0, 0, 0.25);
    z-index: 5;
  }
  .nav.right {
    right: -300px;
    transition: 0.2s ease;
  }
  .nav.right.active {
    right: 0;
  }
  .nav.left {
    left: -300px;
    transition: 0.2s ease;
  }
  .nav.left.active {
    left: 0;
  }
  .chatbotMain {
    max-width: 100%;
  }
  main {
    max-width: 100%;
  }
}
@media screen and (max-width: 820px) {
  .tabIndex {
    max-width: 15%;}
}
@media screen and (max-width: 601px) {
  .filesMainn {
    margin-top: 110px !important;
}
  .tabsParent {
    display: flex;   
    margin-top: 170px;
    justify-content: space-around;
  }

  .resImgBtn {
    padding: 0px 3px;
    font-size: 4px;
    right: 4px;
   
  }
  .respBtn {
    font-size: 10px;
    line-height: 16px;
    border-radius: 6px;
    padding: 2px;
  }
  ul.tabs li {
    font-size: 10px;
    text-align: center;
  }
  ul.tabs li {
    padding: 12px 21px;
  }
  .defaultMsg, .defaultBlue  {
    font-size: 12px;
  }
  .tabIndex {
    max-width: 14%;
    min-height: 100vh;
height: 100%;}
.menuParent {
    margin-right: 0;
    overflow-x: scroll;
}
.menuParent {
    /* margin: 0px 8px; */
}
.rightHeader {
    padding-left: 0;
}
.tabSubject{
  display: flex;
  align-items: center;
  font-size: 12px;
}
}

@media screen and (max-width: 540px) {
  span.carousel-control-prev-icon.prevIcn , span.carousel-control-next-icon.nextIcn
{
 padding-top: 5px;
}
.fileHtitle {
  font-size: 25px;}
  element.style {
  }
  .chatbot__message p:first-child {
    margin-top: 0;
  }
  .defaultMsg,
  .defaultBlue {
    font-size: 12px;
  }
  .chatbotPrev {
    left: -4%;
    font-size: 14px;
    color: #000;
  }
  .chatbotNext {
    right: -4%;
    font-size: 14px;
    color: #000;
  }
  .tabIndex {
    max-width: 27%;
    /* height: 100%; */
}
.fileHtext {
  font-size: 12px;
  padding: 0px 0;}
  .fileHeadUpload button {
    font-size: 14px;}
}

@media screen and (max-width: 491px) {
  .advrtText {
    font-weight: 700;
    font-size: 25px;}
}
@media screen and (max-width: 424px) {
  .filesMainn {
    margin-top: 110px;
}
.footer {
  padding: 15px 15px;}
  .copyright {
    font-weight: 400;
    font-size: 14px;}
    .pageLinks ul li a {
      font-size: 14px;
    }
  .fileHeader {
    flex-direction: column;
    align-items: self-start;
}
.fileHeadUpload button {
  padding: 10px;}
  .resImgBtn {
    padding: 2px;
    font-size: 3px;
    right: 1px;
   
    line-height: 5px;

  }
  ul.tabs li {
    padding: 12px 2px;
    font-size: 8px;
    text-align: center;
}
}
@media screen and (max-width: 390px) {
  .advrtText {
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
}
}